@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flash {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@layer utilities {
  .animate-flash {
    animation: flash 0.5s infinite;
  }
}